.mainContainerWrap{
  height: 100%;
  .mainContent{
    min-height: min-content;
    min-height: -moz-min-content;
  }
  h1{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  .cardsListWrapper{
    h1{
      margin: 22px 30px 50px 30px;
    }
  }
  .transactionsListWrapper{
    margin: 0px 30px 50px 30px;
  }
  .actionsRow{
    margin: 0px 30px 50px 30px;
    .receiveWrapper{
      .whiteBox{
        align-items: center;
        text-align: center;
        padding: 30px 0px;
        h3{
          font-size: 14px;
          font-weight: 700;
        }
        p{
          font-size: 14px;
          font-size: 500;
          margin: 5px 0px 20px 0px;
        }
        .btn{
          border: none;
        }
      }
    }
  }
  .cardsList{
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0;
      display: none;
    }
    &.active{
      cursor: grabbing;
      cursor: -webkit-grabbing;
    }
  }
  .sendTokens{
    .whiteBox{
      padding: 30px;
      .btn{
        border: none;
        align-self: flex-end;
      }
    }
  }
}
.mainContentWrapper{
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;

  &::-webkit-scrollbar {
    width: 5px;
    display: block;
    overflow: hidden;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0,0,0,.2);
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.5);
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,.8);
  }
}
