@import '../../assets/styles/var.scss';

.donateFormWrapper{
  align-items: flex-end;
  align-self: center;
  padding: 40px;
  h1{
    width: 100%;
    text-align: left;
  }
  .btn{
    border: none;
  }
  .inputWrap{
    width: 100%;
  }
}

.availableBalanceWrap{
  p{
    margin: 5px 0px 0px 0px;
    color: $brandBlue;
    font-size: 18px;
  }
  .useAllBalanceTag{
    p{
      font-size: 14px;
      align-self: flex-end;
      display: flex;
      cursor: pointer;
      color: $brandPink;
    }
  }
}
