.donateFormWrapper{
  align-items: flex-end;
  align-self: center;
  padding: 40px;
  h1{
    width: 100%;
    text-align: left;
  }
  .btn{
    border: none;
  }
  .inputWrap{
    width: 100%;
  }
}
