$brandGrey: #FAFAFF;
$brandBlack: #18191D;
$brandBlue: #155FDC;
$brandDarkBlue: #1551B6;
$brandPink: #FF4D81;
$brandLightPink: #FF5E70;

$h1Size: 42px;
$h2Size: 34px;
$h3Size: 32px;
$h4Size: 28px;
$h5Size: 24px;
